<h1>Login</h1>

<form action='/login' method='POST'>
  <label>Username</label>
  <input type='text' name='username' />

  <label>Password</label>
  <input type='password' name='password' />

  <button type='submit'>Login</button>

</form>

{{#if errorMessage}}
  <div style='color: red'>{{errorMessage}}</div>
{{/if}}