<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <h1>Main Page</h1>
    <img src='/images/FunnyCat.jpeg' alt='Funny Cat Picture' />
    <a href='/'>Go back to home page</a>
  </body>
</html>